@import "layouts/bottom.rasi"

* {
	bottom-bg: #050608;
	bottom-fg: #c1c3c4;
	bottom-fg-focused: #050608;
	bottom-bg-focused: #42fff9;
	bottom-prompt-fg: #ea5ce2;

	center-border-width: 2px;
	center-border-color: #42fff9;
	center-bg: #050608;
	center-fg: #c1c3c4;
	center-fg-focused: #050608;
	center-bg-focused: #42fff9;
	center-prompt-fg: #06ea61;
}
