@import "layouts/bottom.rasi"

* {
	bottom-bg: #1b2b34;
	bottom-fg: #d4be98;
	bottom-fg-focused: #1b2b34;
	bottom-bg-focused: #d8a657;
	bottom-prompt-fg: #c594c5;

	center-border-width: 2px;
	center-border-color: #d8a657;
	center-bg: #1b2b34;
	center-fg: #d4be98;
	center-fg-focused: #1b2b34;
	center-bg-focused: #d8a657;
	center-prompt-fg: #a7c777;
}
