@import "layouts/bottom.rasi"

* {
bottom-bg: #1e1e1e;
bottom-fg: #d4d4d4;
bottom-fg-focused: #1e1e1e;
bottom-bg-focused: #d7ba7d;
bottom-prompt-fg: #c586c0;

	center-border-width: 2px;
center-border-color: #d7ba7d;
center-bg: #1e1e1e;
center-fg: #d4d4d4;
center-fg-focused: #1e1e1e;
center-bg-focused: #d7ba7d;
center-prompt-fg: #ce9178;
}
